# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
.env.*
!.env.example

# IDE
.idea/

# Archives
*.zip

# Data
entity/
output/
output_pdf_test/

# OS
.DS_Store
Thumbs.db

# python
.venv/

# Logs
*.txt

# test_files
*.pdf

uploads/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
