# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
.env.*
.env(1).example

# IDE
.idea/

# Archives
*.zip

# Data
entity/
README.txt
output/
multi/

# OS
.DS_Store
Thumbs.db

# python
.venv/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
