# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# python virtual env
venv/
.venv/
env/

# 3D 模型 GLB 文件
exploded/
*.tsx

# validator-service
__pycache__/*

# 忽略所有 worktree 目录
../FTA-*/

# 忽略压缩包和环境文件
../multi.zip
../.env

# 忽略本地测试的 raw 数据
raw-FTA/*.json

public/demo/*

fta-ai-service/.venv/
fta-ai-service/.env
fta-ai-service/app/__pycache__/
